body {
    padding: 0;
    margin: 0;
    /* font-family: Arial, sans-serif; */
}


/* nav section */
.parent nav {
    width: 100%;
    background-color: #FFF;
    padding: 4px 0;
}

nav .content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 6px 60px;
    /* align-items: center; */
}



nav .content .visit {
    color: #88959F;
    display: flex;
    gap: 20px;
    font-size: 14px;
    align-items: center;
}

nav .content .visit p {
    color: #88959F;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;
    /* 22.006px */
}

.buttons .city-select {
    padding: 8px 20px;
    border: 1px solid gray;
    border-radius: 4px;
    color: #88959F;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;
}

button.login {
    padding: 7px 40px;
    border: none;
    border-radius: 4px;
    background-color: #00B284;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;
    /* 22.006px */
}

button.city:hover,
button.login:hover {
    background-color: #45a049;
}





@media (max-width: 768px) {


    nav .content .visit {
        display: none;
    }

    nav .content {
        padding: 4px 6px;
        align-items: center;
    }

    button.city,
    button.login {
        margin-top: 10px;
    }
}




.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.contact-login {
    /* display: flex; */
    align-items: center;
    gap: 20px;
}

.phone-number {
    margin: 0;
    color: #FF7A00;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;
    /* 18.863px */
}

.side-panel .panel-content {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
    }
}



/* hero section */

.hero {
    position: relative;
    background-image: url('./images/Hero.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero .hero-contain {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 100px;
    align-items: center;
}

.hero .hero-contain h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero .hero-contain div .data-div {
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 10px 4px #5C2C01;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.hero .hero-contain .ride {
    background-color: white;
    padding: 35px 35px;
    padding-top: 20px;
    border-radius: 10px;
    color: #000;
}


.hero .hero-contain .ride p {
    color: #333;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 124.688%; 14.963px */
}


#ElectricBikes{
    margin-top: 20px;
}

.hero .hero-contain .ride .details {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;

}




.tab {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    /* background-color: #ccc; */
    border-bottom: 2px solid #333333;
}

.details .tab img{
    width: 47px;
    height: 58px;
}


@media screen and (max-width: 868px) {
    .hero .hero-contain {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

    }


    .hero {
        min-height: 700px;
    }

    .hero .hero-contain h1 {
        font-size: 1.5em;
    }

    .hero .hero-contain div .data-div {
        font-size: 1em;
        text-shadow: 0px 10px 4px #5C2C01;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
    }

    .hero .hero-contain .ride {
        width: 100%;
        padding: 20px;
        margin: auto;

    }




}

@media screen and (max-width: 480px) {
    .hero .hero-contain h1 {
        font-size: 1.2em;
    }

    .hero .hero-contain p {
        font-size: 0.8em;
    }

    .hero .hero-contain {
        margin-right: 40px;

    }

    .hero .hero-contain .ride {
        width: 95%;
        margin-left: 10px;
    }
}


.venue .select {
    display: flex;
    /* gap: 10px; */
    /* justify-content: space-around; */
    justify-content: center;
}

.venue .select {

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.venue select {

    border: 1px solid #B8B8B8;
    padding: 10px;
    color: gray;
    width: 50%;
}


.select .border-left {
    /* border-start-start-radius: 5px; */
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    border-right: none;

}

.select .border-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.ride .search-btn {
    width: 100%;
    background-color: #FF7A00;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 9px 0;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    
}





/* bike section start */

.bike-header {
    margin: 100px 0;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
}

.bike-header .bike-details h2 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    margin-top: 0;
    margin-bottom: 0;
    /* 56.588px */
}

.bike-header .bike-details .p-small {
    color: #5C2C01;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

}

.bike-header .bike-details .p-para {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%; 30px */
}

.bike-header .dots {
    /* text-align: center; */
    margin-left: 20px;
    margin-top: 20px;
}

.bike-header .dots .dot {
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: #C4C4C4;
    border-radius: 50%;
    /* margin: 0 1px; */
    cursor: pointer;
}

.bike-header .dots .dot.active {
    background-color: #5C2C01;
}

.slider {
    position: relative;
    width: 390px;
    height: 220px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.active-slide {
    opacity: 1;
}

.details-container .bike-details {
    display: none;
}



.details-container .active-details {
    display: block;
}

@media screen and (max-width: 869px) {
    .bike-header .bike-details h2 {
        font-size: 20px;
    }

    .bike-header .bike-details .p-para {
        font-size: 14px;
    }
}









/* milestone section */


.parent .milestone-main {
    background-color: #F7F7F3;
    /* padding: 55px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 100px;
    height: 331px;
    /* width: 100%; */
    /* text-align: center; */
}

.parent .milestone-main .m-parent .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.m-parent pa {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    /* 56.588px */
}


.orange {
    color: #FF7A00;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    width: 30px;
    /* line-height: 157.188%; 56.588px */
}

.orange span {
    color: #a8998b;
    font-size: 15px;
}

.m-parent .stats .m-details {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 157.188%; */
    /* 31.438px */

}

@media screen and (max-width: 869px) {

    .orange {
        font-size: 22px;
    }

    .parent .milestone-main {
        height: 450px;
    }

    .m-parent .stats .m-details {
        font-size: 14px;
    }

    .m-parent pa {
        font-size: 30px;
    }
}




/* bike cards section
 */
.bike-card-section {
    margin: 20px;
}

.bike-card-header {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.header-content h3 {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    /* 56.588px */

}

.header-content p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 2px;
}

.bike-card p {
    color: #FF7A00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 33px;

}



.bike-card div {
    margin-top: -14px;
}


.bike-card img {
    height: 208px;
    width: 314px;
}


.filter-btn {
    padding: 8px;
    color: #88959F;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.bike-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bike-card {
    width: 331px;
    height: 371px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 2px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.bike-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.bike-card h2 {
    /* margin: 10px 0; */
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    margin-bottom: 3px;
    /* 31.438px */
}

.bike-card .availability-link {
    color: white;
    text-decoration: none;
    background-color: #00B284;
    padding: 8px 15px;
    border-radius: 5px;
    width: 149px;
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 157.188%; */
    /* 22.006px */
}


.filter-select {
    height: 36px;
    padding-left: 3px;
    padding-right: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #88959F;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-style: normal;
    font-weight: 600;
    margin-top: 18px;
}

.bike-card .availability-link:hover {
    text-decoration: underline;
}






/* bike wash section */
.wash-section {
    padding: 20px;
    margin-top: 70px;
}



.bike-line {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
    gap: 0;
}



.bike-image-col {
    text-align: center;
}

.bike-image-col img {
    width: 581px;
    height: 387px;
}



.bike-info-title {
    color: #5C2C01;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.bike-info-heading {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    margin-top: 4px;
    margin-bottom: 4px;
    /* 56.588px */
}

.bike-info-description {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.bike-info-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: start;
}

.bike-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Always-ins {
    margin-top: 7px;
}

.feature-img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.feature-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

}




@media screen and (max-width: 768px) {

    .bike-image-col,
    .bike-info-col {
        max-width: 100%;
    }

    .bike-image-col img {
        width: 300px;
        height: auto;
        /* flex-shrink: 0; */
    }

    .bike-details {
        margin-top: 30px;
    }

    .bike-info-description {
        font-size: 16px;
    }


    .feature-text {
        font-size: 14px;
    }

    .bike-info-heading {
        font-size: 30px;
    }

}






/* app download section */
/* used reuseable wash section properties */

.img-mobile-download img {
    width: 505px;
    height: 453.573px;

}

.download-flex {
    flex-wrap: wrap;
}

.download-images img {
    width: 164px;
    height: 49px;
}

.download-images .app-store-img {
    margin-top: 4px;
}


.wash-section .app-download {
    margin-bottom: 70px;
}

.download-images {
    gap: 0;
}

@media screen and (max-width: 768px) {
    .img-mobile-download img {
        width: 341px;
        height: auto;
    }
}





/* Rent section */
.rent-section .rent-section-main {
    background-image: url('./images/rent-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 60px;
    border-radius: 15px;
}

.rent-section .rent-section-main .rent-data {
    padding-left: 60px;
    padding-right: 30px;

}



.rent-section .rent-section-main .rent-data div h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    /* 56.588px */
    margin-top: 0;
}

.rent-section .rent-section-main .rent-img img {
    width: 100%;
    height: 100%;
}

.rent-section .rent-section-main .rent-data div .dots {
    text-align: start;
    margin-top: 15px;
}

.rent-section .rent-section-main .rent-data div .dots .dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 0px;
    cursor: pointer;
}

.rent-section .rent-section-main .rent-data div .dots .dot.active {
    background-color: #FF7A00;
}


.rent-features div .first-div {
    display: flex;
    gap: 3px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
}

.rent-features div .first-div p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%;
    /* 32.8px */
}

.rent-data button {
    background-color: #FF7A00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 40px;
    margin-top: 10px;
}



.rent-features {
    display: flex;
    flex-wrap: wrap;
}



@media screen and (max-width: 768px) {
    .rent-section .rent-section-main {
        flex-wrap: wrap-reverse;
        margin: 10px;
    }

    .rent-section .rent-section-main .rent-img img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
    }
}







/* Faq section */
.faq-container {
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    /* gap: 10px; */
}


.faq-div {
    /* padding: 60px 0px; */
    margin-top: 100px;
    height: 460px;
}

.faq-item {
    margin-top: 20px;
    width: 40%;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%; */
    /* 24px */
}

.faq-question {
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
    position: relative;
    stroke-width: 1px;
    stroke: #B6B6B6;
    border-bottom: 1px solid #B6B6B6;
}

.faq-question .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
}

.down {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.faq-answer {
    display: none;
    padding: 15px;
    font-size: 14px;
    color: #333;
}


div .FAQss {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 157.188%; */
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: -28px;
    /* 56.588px */
}


@media screen and (max-width: 700px) {
    .faq-item {
        /* margin-top: 10px; */
        width: 90%;
    }

    .faq-div {
        /* padding: 60px 0px; */
        /* margin-top: 100px; */
        height: 700px;
    }

    div .FAQss {
        margin-top: 80px;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

}








/* footer start */
.footer {
    background-color: #F3F3F3;
    /* color: #5C2C01; */
    padding: 50px 0;
    /* font-size: 14px; */
}

footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    /* width: 80%; */
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    text-align: left;
    gap: 60px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-section h5 {
    margin-bottom: 20px;

    color: #5C2C01;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #75787B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer-section ul li {
    margin-top: 15px;

}

.footer-section ul li a:hover {
    color: blue;
}

.footer-bottom p {
    margin-top: 20px;
    color: #707070;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.188%;
}

@media screen and (max-width: 950px) {
    .footer-container {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 768px) {
    .footer-container {
        justify-content: start;
        gap: 10px;
        text-align: start;
    }

    .footer-section {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }
}
